.btn {
  width: 100%;
  height: 56px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  transition: all .1s;
  cursor: pointer;
}
.btn.sea{
  background: var(--sea);
  border: none;
  color: white;
}
.btn.gray{
  background: var(--gray2);
  border: none;
  color: var(--darkGray);
}
.btn.gray:hover{
  background: #F6F6F6;
}
.btn.gray:focus{
  background: #F0F0F0;
}
.btn:focus{
  outline: none;
}
.btn.sea:hover{
  background: var(--seaHover);
}
.btn.sea:focus{
  background: var(--seaFocus);
}