.FormImgGalery{
  margin-top: 36px;
  /* height: ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.FormImgGalery__preview{
  overflow-x: auto;
  display: flex;
  align-items: center;
}
.FormImgGalery__preview-wrapper{
  margin-left: -1px;
  width: 100%;
}
.FormImgGalery__wrapper{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  overflow: hidden;
  width: 440px;
}
.FormImgGalery p{
  font-size: 14px;
  font-weight: 400;
  color: var(--sea);
}
.FormImgGalery__preview-item{
  width: 110px;
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--gray2);
  margin-left: -1px;
  padding: 5px;
  flex-shrink: 0;
}
.FormImgGalery__preview-item.addImg{
  cursor: pointer;
  flex-shrink: 0;
}
.FormImgGalery__preview-item.addImg input{
  display: none;
}
.FormImgGalery__preview-item.addImg svg{
  stroke: var(--sea);
  stroke-width: 2px;
}
.FormImgGalery__preview-item:first-child{
  margin-left: 0;
}
.FormImgGalery__preview-item img{
  max-width: 100%;
  max-height: 100%;
}
.FormImgGalery__add-file input{
  display: none;
}
.FormImgGalery__add-file .upload{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
