
.formAuth > .inputText{
  margin-bottom: 15px;
}
.formAuth-infoText{
  padding-bottom: 15px;
}
/* .formAuth__feedback{
  background: red;
  color: white;
  font-size: 16px;
  padding: 6px 15px;
  margin-bottom: 15px;
} */
.formAuth__alert{
  background: var(--rubin);
  padding: 17px 15px;
  color: white;
  margin-bottom: 25px;
  font-size: 14px;
  border-radius: 3px;
}
.formAuth-infoText{
  font-size: 14px;
  color: var(--black);
  margin-bottom: 15px;
}