@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './bootstrap-grid.min.css';


:root{
  --gray2:#F2F2F2;
  --gray2Hover:#ECECEC;
  --dark:#333333;
  --gray:#E0E0E0;
  --sea:#31CED8;
  --seaHover:#34D8E2;
  --seaFocus:#23C9D3;
  --white:#FFFFFF;
  --darkGray:#4F4F4F;
  --black:#000000;
  --rubin:#DC1173;
  --rubinFocus:#D20A6A;
}
body{
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height:100%;
}
* a{
  text-decoration: none;
}
h1{
  font-size: 50px;
}
.content{
  
}