.category-item__title{
  height: 40px;
  display: flex;
  align-items: center;
}
.title-toggle{
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.title-toggle svg{
  transform: rotate(-90deg);
  transition: transform .2s;
  stroke: var(--sea);
  stroke-width: 1.5;
  stroke-linecap: round;
}
.title-toggle.active svg{
  transform: rotate(0);
}
.category-item__title span{
  display: block;
  width: 100%;
  line-height: 40px;
}
.category-item{
  padding-left: 15px;
}
.category-item.selected{
  background: var(--gray2);
}
.category-item__title button{
  width: 40px;
  height: 40px;
  background: var(--sea);
  padding: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}
.category-item__title button:hover{
  background: var(--seaHover);
}
.category-item__title button:focus{
  outline: none;
}